In [1]:
import dew_gwdata as gd
db = gd.sageodata()
wells = db.find_wells("GSN007")

DatabaseError: ORA-12154: TNS:could not resolve the connect identifier specified

In [ ]:
con = db.construction_events(db.find_wells('gsn7'))
con

In [3]:
drill = db.drilled_intervals(wells)
drill.pipe(gd.cleanup_columns)

,well_id,construction_aquifer,completion_no,completion_date,event_type,drill_method,depth_from,depth_to,diam,core_flag,length,width,comments,created_by,creation_date,modified_by,modified_date
0,GSN007,None,329358,2017-04-30,C,RTM,0.0,12.0,438,N,None,None,None,GAHJM,2017-06-09 12:02:21,None,NaT
1,GSN007,None,329358,2017-04-30,C,RTM,12.0,186.0,311,N,None,None,None,GAHJM,2017-06-09 12:02:21,GAHJM,2017-09-19 13:16:21
2,GSN007,None,329358,2017-04-30,C,RTM,186.0,998.8,222,N,None,None,None,GAHJM,2017-06-09 12:02:21,GAHJM,2017-09-19 13:16:21
3,GSN007,None,329358,2017-04-30,C,RTM,998.8,1100.0,149,N,None,None,None,GAHJM,2017-06-09 12:02:21,GAHJM,2017-09-19 13:16:21

In [4]:
casing = db.casing_strings(wells)
casing.pipe(gd.cleanup_columns)

,well_id,construction_aquifer,completion_no,completion_date,event_type,casing_type,depth_from,depth_to,material,case_diam,...,cement_to,cementing_method,pressure_cement,pressure_cement_from,pressure_cement_to,comments,created_by,creation_date,modified_by,modified_date
0,GSN007,None,329358,2017-04-30,C,S,0.0,12.0,STLOFG,326,...,12.0,NDC,N,None,None,API 5L,GAHJM,2017-06-09 12:02:21,GAHJM,2017-09-19 13:16:21
1,GSN007,None,329358,2017-04-30,C,P,0.0,996.5,STLOFG,162,...,996.5,DSPC,N,None,None,API 5L,GAHJM,2017-06-09 12:02:21,None,NaT
2,GSN007,None,329358,2017-04-30,C,S,0.0,184.0,STLOFG,227,...,184.0,NDC,N,None,None,API 5L,GAHJM,2017-06-09 12:02:21,GAHJM,2017-09-19 13:16:21

In [5]:
pzones = db.production_zones(wells)
pzones.pipe(gd.cleanup_columns)

,well_id,construction_aquifer,completion_no,completion_date,event_type,pzone_type,pzone_from,pzone_to,pzone_material,pzone_diam,...,trade_name,base_completion,comments,creation_date,created_by,modified_date,modified_by,pzone_no,wcr_load_no,wcr_load_data_no
0,GSN007,None,329358,2017-04-30,C,OH,996.5,1100.0,None,None,...,None,None,None,2017-06-09 12:02:21,GAHJM,None,None,97541,110,78

In [6]:
pzones.T

                                        0
well_id                            GSN007
dh_no                              294482
unit_long                       664200024
unit_hyphen                       6642-24
obs_no                             GSN007
dh_name                     MIRRA MITTA 2
easting                            277070
northing                      6.93188e+06
zone                                   54
latitude                          -27.719
longitude                         138.739
aquifer                          JK-a+K-c
construction_aquifer                 None
completion_no                      329358
completion_date       2017-04-30 00:00:00
event_type                              C
pzone_type                             OH
pzone_from                          996.5
pzone_to                             1100
pzone_material                       None
pzone_diam                           None
aperture                             None
outer_diam                           None
trade_name                           None
base_completion                      None
comments                             None
creation_date         2017-06-09 12:02:21
created_by                          GAHJM
modified_date                        None
modified_by                          None
pzone_no                            97541
wcr_load_no                           110
wcr_load_data_no                       78

In [ ]:
items = [
    {"type": "drilled_hole", "from": 998.8, "to": 1100, "diam": 149, }
    {"type": "drilled_hole", "from": 0, "to": 12, "diam": 438, "label": ""},
    {"type": "drilled_hole", "from": 186, "to": 998.8, "diam": 222, "label": "main hole"},
    {"type": "drilled_hole", "from": 12, "to": 186, "diam": 311},
    {"type": "casing", "from": 0, "to": 12, "inner_diam": 326, "label": "conductor"},
    {"type": "casing", "from": 0, "to": 996.5, "inner_diam": 162, "label": "7\" API casing"},
    {"type": "casing", "from": 0, "to": 184, "inner_diam": 227, "label": "artesian control"},
]